<!doctype html> 
<html> 
<head> 
    <meta charset="utf-8"> 
    <title></title> 
    <script type="text/javascript" src='./../static/js/echarts.min.js'></script>
    <script src="lib/jquery/3.4.1/jquery-3.4.1.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href="./../static/bootstrap/css/bootstrap.css">


    <style type="text/css">
    </style>

</head>

<body>
    <body data-new-gr-c-s-check-loaded="14.1008.0" data-gr-ext-installed="" data-new-gr-c-s-loaded="14.1008.0">
        <div class="page_container flex-col">
            
            <div class="col_container flex-row">
                
                
                <div class="col dbd_col">
                    <div style="border: 0px solid green; height: 100%; box-sizing: border-box; display: flex; flex-direction: column;">
    
                        <div id="dashboardContent" class="tab-content flex-col">
                            <div id="" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div>
                            <div id="tab599a_old" class="tab-pane" style="height: 100%;">
                                <div class="map_container flex-col">
                                    <div class="map_title">title 3<br>title 4</div>
                                    <div class="map_content">
                                        <iframe style="height: 100%; width: 100%; border: none;" src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot 3 <br> foot 4</div> -->
                                </div>
                            </div>
                        <div id="building_list" class="tab-pane map_container flex-col active">
                                    
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src="../apps2/Tab2_Desktop_Chi_20220208/"></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="Compulsory_Testing" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="Community_Vaccine_Centres" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="Designated_clinics_for_confirmed_patients" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="StayHomeSafe" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="a_and_e_waiting_time" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="timeline_for_buildings_with_cases" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="confirmed_case_list" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="flight_train_ship_list" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="statistics_on_covid_19_infection_page_1" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="news" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div><div id="about" class="tab-pane map_container flex-col">
                                    <div class="map_title"></div>
                                    <!-- <div class="map_title">title<br>title2</div> -->
                                    <div class="map_content flex-col">
                                        <iframe src=""></iframe>
                                    </div>
                                    <div class="map_foot"></div>
                                    <!-- <div class="map_foot">foot <br> foot2</div> -->
                            </div></div>
                        <div class="tab-list-container">
                            <ul id="dashboardTabs" class="tab-list tab-list-bottom overflow">
                                <li class="dropdown">
                                    <div class="dropbtn" style="width: 100%;">
                                        <!-- <div class="dropbtn-puller"><i class="fa fa-caret-down" aria-hidden="true"></i></div> -->
                                        <div class="dropbtn-prev"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
                                        <div class="dropbtn-next"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
                                        <div class="dropbtn-text">建築物名單</div>
                                    </div>
                                    <ul class="dropdown-content">
                                        <!-- Drop down menu item here (will be auto generated by createTabMenuItems() -->
                                        <!-- <li style="background-color:#333333;"><a href="#" style="background-color:#333333;"><div id="select-tab-label" style="text-align:center;cursor: auto;">選擇標籤 !</div></a></li> -->
                                    <a href="#building_list">建築物名單</a><a href="#Compulsory_Testing">強制檢測/檢測服務</a><a href="#Community_Vaccine_Centres">社區疫苗接種服務</a><a href="#Designated_clinics_for_confirmed_patients">確診個案指定診所</a><a href="#StayHomeSafe">居安抗疫大廈名單/檢疫中心/檢疫酒店/社區隔離設施/出入境管制站</a><a href="#a_and_e_waiting_time">急症室等候時間</a><a href="#timeline_for_buildings_with_cases">曾有個案的建築物時序</a><a href="#confirmed_case_list">確診個案名單</a><a href="#flight_train_ship_list">交通工具名單</a><a href="#statistics_on_covid_19_infection_page_1">嚴重急性呼吸綜合症冠狀病毒2的陽性檢測個案統計</a><a href="#news">新聞短片</a><a href="#about">關於互動地圖儀表板</a></ul>
                                </li>
                                <!-- Tab buttons here (will be auto generated by createTabs() -->
    
                                <!-- <li class="active"><a href="#home">Home</a></li>
                                <li><a href="#tab599a">599A</a></li>
                                <li><a href="#menu2">Menu menu</a></li>
                                <li><a href="#menu3">Menu menu menu </a></li>
                                <li><a href="#menu4">Menu menu menu </a></li>
                                <li><a href="#menu5">Menu menu menu </a></li>
                                <li><a href="#menu6">Menu menu menu 6</a></li> -->
                            <li class="active"><a href="#building_list">建築物名單</a></li><li><a href="#Compulsory_Testing">強制檢測/檢測服務</a></li><li><a href="#Community_Vaccine_Centres">社區疫苗接種服務</a></li><li><a href="#Designated_clinics_for_confirmed_patients">確診個案指定診所</a></li><li><a href="#StayHomeSafe">居安抗疫大廈名單/檢疫中心/檢疫酒店/社區隔離設施/出入境管制站</a></li><li><a href="#a_and_e_waiting_time">急症室等候時間</a></li><li><a href="#timeline_for_buildings_with_cases">曾有個案的建築物時序</a></li><li><a href="#confirmed_case_list">確診個案名單</a></li><li><a href="#flight_train_ship_list">交通工具名單</a></li><li><a href="#statistics_on_covid_19_infection_page_1">嚴重急性呼吸綜合症冠狀病毒2的陽性檢測個案統計</a></li><li><a href="#news">新聞短片</a></li><li><a href="#about">關於互動地圖儀表板</a></li></ul>
                        </div>
                        <!-- <div style="box-sizing: border-box; flex: 0 0 1.4em; border: 1px solid red; margin: 0px 6px;">
                            tabs 
                        </div> -->
                    </div>
                </div>
            </div>
            <iframe id="viewcount" style="display: none; width: 1px; height: 1px;" sandbox="" src="https://smolandsd.maps.arcgis.com/apps/webappviewer/index.html?id=afd8c2a620da4533acb9e1796ea297e7"></iframe>
        </div>
    
        <!-- <div class="" style="background-color: lightgray; height: 100%; position: relative;"></div> -->
    <!-- 
        <div class="grid-stack" style="background-color: lightgray; height: 100%; position: relative;">
            <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">
                <div class="grid-stack-item-content">my first widget</div>
            </div>
            <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="4">
                <div class="grid-stack-item-content">another widget!</div>
            </div>
        </div> -->
          
    
        <!-- <div id="map"></div> -->
        <!-- <div id="list"> -->
            <!-- <span id="count"></span> -->
        <!-- </div> -->
    
        <script>
            //V1 method
            String.prototype.format = function () {
                var args = arguments;
                return this.replace(/\{(\d+)\}/g,
                    function (m, i) {
                        return args[i];
                    });
            }
    
            //V2 static
            String.format = function () {
                if (arguments.length == 0)
                    return null;
    
                var str = arguments[0];
                for (var i = 1; i < arguments.length; i++) {
                    var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
                    str = str.replace(re, arguments[i]);
                }
                return str;
            }
    
            // polyfills
            if (!String.prototype.startsWith) {
                Object.defineProperty(String.prototype, 'startsWith', {
                    value: function(search, rawPos) {
                        var pos = rawPos > 0 ? rawPos|0 : 0;
                        return this.substring(pos, pos + search.length) === search;
                    }
                });
            }
    
            /**
             * Get the value of a querystring
             * @param  {String} field The field to get the value of
             * @param  {String} url   The URL to get the value from (optional)
             * @return {String}       The field value
             */
            var getQueryString = function (field, url) {
                var href = url ? url : window.location.href;
                var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
                var string = reg.exec(href);
                return string ? string[1] : null;
            };
    
            // workaround for Chrome 
            // https://github.com/Leaflet/Leaflet/issues/6232
            // window.L_DISABLE_3D = true; 
    
            var map = null;
            var zoomHome = null;
            var g_annoLayer = null;
            var HomeQuarantineBuilding = null;
    
            var g_listData = { 'Total': 0, 'district': {}, 'district_c': {} };
            var g_lang = 'zh';
            var g_scnMode = 'desktop';
            var g_delay = 0;
            var g_lastShownDistrict = '';
            var g_frameOnly = false;
            var g_unloadInactiveTab = false;
            var g_autoUpdateKeyFigures = true;
            var g_autoUpdateInterval = 5 * 60;   // seconds
            var g_viewCountUrl = null;
            
            // Detect Screen Size
            var width = window.innerWidth ||
                        document.documentElement.clientWidth ||
                        document.body.clientWidth;
    
             var height = window.innerHeight ||
                        document.documentElement.clientHeight ||
                        document.body.clientHeight;
    
            if ( width < 1280 ) {	// if small screen
                g_scnMode = 'mobile';
            }
    
            var g_config = 
            {
                "ver": "20201229",
                "zh": {
                    "labels": {
                        "title": "2019冠狀病毒病-香港最新情況",
                        "tilte_mobile": "2019冠狀病毒病-香港最新情況",
                        "confirmed": "確診/疑似",
                        "discharged": "出院",
                        "hospitalized": "住院",
                        "critical": "危殆",
                        "death": "死亡",
                        "selectTab": "Select a Tab"
                    },
                    "view_count": {
                        "url": "https://smolandsd.maps.arcgis.com/apps/webappviewer/index.html?id=afd8c2a620da4533acb9e1796ea297e7",
                        "url_mobile": "https://smolandsd.maps.arcgis.com/apps/webappviewer/index.html?id=ffd926ccfa5d4bc6b1043aa5c14d737d"
                    },
                    "tabs": {
                        "case_detail": {
                            "tab_title": "個案詳情",
                            "map_head": "",
                            "map_url": "../apps/Tab1_Desktop_Chi/",
                            "map_url_mobile": "../apps/Tab1_Mobile_Chi/",
                            "map_foot": ""
                        },
                        "building_list": {
                            "tab_title": "建築物名單",
                            "map_head": "",
                            "map_url": "../apps/Tab2_Desktop_Chi/",
                            "map_url_mobile": "../apps/Tab2_Mobile_Chi/",
                            "map_foot": ""
                        },
                        "quarantine_centres_and_specimens_collection_points_2": {
                            "tab_title": "強制檢測/檢測服務",
                            "map_head": "",
                            "map_url": "https://experience.arcgis.com/experience/b647ed41051148468f5fb1e019af315a",
                            "map_url_mobile": "https://experience.arcgis.com/experience/3d1844bcfca040eead5c31c6f449065d",
                            "map_foot": ""
                        },
                        "quarantine_centres_and_specimens_collection_points_3": {
                            "tab_title": "檢疫中心/檢疫酒店/出入境管制站",
                            "map_head": "",
                            "map_url": "https://experience.arcgis.com/experience/0b9111e2e7254b34949491188ab7ebc4",
                            "map_url_mobile": "https://experience.arcgis.com/experience/2a5163aafd034662b62666ff4d4bcf92",
                            "map_foot": ""
                        },
                        "a_and_e_waiting_time": {
                            "tab_title": "急症室等候時間",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/66f11d6449f143d685d5e1d1d4dcb64b",
                            "map_url_mobile": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/9610d708fd644536836898981536c222",
                            "map_foot": ""
                        },
                        "timeline_for_buildings_with_cases": {
                            "tab_title": "曾有確診/疑似個案的建築物時序",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/TimeAware/index.html?appid=6e7ee7cadd074eda976b8ec9f379c13a",
                            "map_url_mobile": "https://smolandsd.maps.arcgis.com/apps/TimeAware/index.html?appid=9addd887737e4fdf8da967cbef3980b6",
                            "map_foot": ""
                        },
                        "flight_train_ship_list": {
                            "tab_title": "交通工具名單",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/afbc90c9deb84a56b1ada676b63f08da",
                            "map_foot": ""
                        },
                        "flight_train_ship_list_mob": {
                            "tab_title": "交通工具名單",
                            "map_head": "",
                            "map_url_mobile": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/2684480c6e574ceda2eea38116b26a90",
                            "map_foot": ""
                        },
                        "statistics_on_covid_19_infection_page_1": {
                            "tab_title": "2019冠狀病毒感染個案統計",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/95f2f5261fa34264bb4e144b8fda3cc0",
                            "map_url_mobile": "https://experience.arcgis.com/experience/eeab2a9a4a804df98f8120e37602e3bf",
                            "map_foot": ""
                        },
                        
                        "news": {
                            "tab_title": "新聞短片",
                            "map_head": "",
                            "map_url":  "https://www.youtube.com/embed/videoseries?list=PLd1JkKZ3CcY_99hxTcnOPCjtYi6Se5buF&v=3qxiHIm3W18",
                            "map_url_mobile":  "https://www.youtube.com/embed/videoseries?list=PLd1JkKZ3CcY_99hxTcnOPCjtYi6Se5buF&v=3qxiHIm3W18",
                            "map_foot": ""
                        },
                        "about": {
                            "tab_title": "關於互動地圖儀表板",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/6c46da1ccc28461d9666158881ad10b0",
                            "map_url_mobile": "https://experience.arcgis.com/experience/73c1ae9e4d914d718cb53176cd299f2c",
                            "map_foot": ""
                        }
                    }
                },
                "en": {
                    "labels": {
                        "title": "Latest Situation of Coronavirus Disease (COVID-19) in Hong Kong",
                        "title_mobile": "Coronavirus Disease (COVID-19) in HK",
                        "confirmed": "Confirmed/Probable",
                        "discharged": "Discharged",
                        "hospitalized": "Hospitalized",
                        "critical": "Critical",
                        "death": "Death",
                        "selectTab": "Select a Tab"
                    },
                    "view_count": {
                        "url": "https://smolandsd.maps.arcgis.com/apps/webappviewer/index.html?id=9b487d941d27456abc78043eb805a76a",
                        "url_mobile": "https://smolandsd.maps.arcgis.com/apps/webappviewer/index.html?id=23ca0cf86719415b8eda0c76b94c7a9d"
                    },
                    "tabs": {
                        "case_detail": {
                            "tab_title": "Case Details",
                            "map_head": "",
                            "map_url": "../apps/Tab1_Desktop_Eng/",
                            "map_url_mobile": "../apps/Tab1_Mobile_Eng/",
                            "map_foot": ""
                        },			
                        "building_list": {
                            "tab_title": "Building List",
                            "map_head": "",
                            "map_url": "../apps/Tab2_Desktop_Eng/",
                            "map_url_mobile": "../apps/Tab2_Mobile_Eng/",
                            "map_foot": ""
                        },
                        "quarantine_centres_and_specimens_collection_points_2": {
                            "tab_title": "Compulsory Testing/Testing Service",
                            "map_head": "",
                            "map_url": "https://experience.arcgis.com/experience/46a07ec6eb93406d9ff90f88a0876a67",
                            "map_url_mobile": "https://experience.arcgis.com/experience/09fbaa19c66142e68e6331357d8e9769",
                            "map_foot": ""
                        },
                        "quarantine_centres_and_specimens_collection_points_3": {
                            "tab_title": "Quarantine Centres/Quarantine Hotels/Immigration Control Points",
                            "map_head": "",
                            "map_url": "https://experience.arcgis.com/experience/292faa82e9294178974438e919e4e66e",
                            "map_url_mobile": "https://experience.arcgis.com/experience/b6e00f7eaf8f483190dd8679f5b3718c",
                            "map_foot": ""
                        },
                        "a_and_e_waiting_time": {
                            "tab_title": "A & E Waiting Time",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/9b2b6bbbf7f844c080144319af948c2e",
                            "map_url_mobile": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/38115ef51f8b415b8677d49e3bcf7336",
                            "map_foot": ""
                        },
                        "timeline_for_buildings_with_cases": {
                            "tab_title": "Timeline for Buildings with Cases",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/TimeAware/index.html?appid=41349b71426548c88ccde91670d125a8",
                            "map_url_mobile": "https://smolandsd.maps.arcgis.com/apps/TimeAware/index.html?appid=74b02aeab3fe4b23b2347bf8f7b0c3ba",
                            "map_foot": ""
                        },
                        "flight_train_ship_list": {
                            "tab_title": "Lists of Transportation",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/e160b17e03124591af58768c33bf4a07",
                            "map_foot": ""
                        },
                        "flight_train_ship_list_mob": {
                            "tab_title": "Transportation List",
                            "map_head": "",
                            "map_url_mobile": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/db5923c5fe884a00b99915f8137f4a26",
                            "map_foot": ""
                        },
                        "statistics_on_covid_19_infection_page_1": {
                            "tab_title": "Statistics on COVID-19 Infection",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/4f33737c55874b3da3881699df8e4392",
                            "map_url_mobile": "https://experience.arcgis.com/experience/9d1cce83dd9344ba82affa7a1714d16e",
                            "map_foot": ""
                        },
                        "news": {
                            "tab_title": "News Clips",
                            "map_head": "",
                            "map_url": "https://www.youtube.com/embed/videoseries?list=PLd1JkKZ3CcY9aX-Zs4yk5Cf-xfgzURoxv",
                            "map_url_mobile": "https://www.youtube.com/embed/videoseries?list=PLd1JkKZ3CcY9aX-Zs4yk5Cf-xfgzURoxv",
                            "map_foot": ""
                        },
                        "about": {
                            "tab_title": "About Interactive Map Dashboard",
                            "map_head": "",
                            "map_url": "https://smolandsd.maps.arcgis.com/apps/opsdashboard/index.html#/b2b4e214a6b24847a7f6f395224d7613",
                            "map_url_mobile": "https://experience.arcgis.com/experience/1542d8f0b5c9482d98e286a164989051",
                            "map_foot": ""
                        }
                    }
                }
            }
            ;
            
            var qlang = getQueryString('lang');
            if (qlang == 'en') {
                g_lang = 'en';
            } else {
                // default
                g_lang = 'zh';
            }
            var g_currConfig = g_config[g_lang];
            g_currConfig['ver'] = g_config['ver'];
    
            var qdelay = getQueryString('delay');
            if( qdelay != null && qdelay >= 0) {
                g_delay = qdelay;
            }
    
            var qFrameOnly = getQueryString('frameonly');
            if( qFrameOnly != null && qFrameOnly > 0 ) {
                g_frameOnly = true;
            }
    
            // var title = 'Latest Situation of Coronavirus Disease (COVID-19) in Hong Kong';
            // // var listTitle = 'Buildings of the home confinees under mandatory home quarantine according to Cap. 599C of Hong Kong Laws';
            // // var locSearchPlaceholder = 'Input building name/address';
            // // var searchToolTipTitle = 'Your search';
            // if (g_lang == 'zh') {
            //     title = '2019冠狀病毒病-香港最新情況';
            //     // listTitle = '根據香港法例第599C章正在接受強制家居檢疫人士所居住的大廈名單';
            //     // locSearchPlaceholder = '輸入建築物名稱/地址';
            //     // searchToolTipTitle = '您搜索的位置';
            // }
    
            // check url data tab object
            // if url for current mode (desktop or mobile) is missing, return false
            function shouldDisplayTab(tab) {
                if(g_scnMode == 'desktop') {
                    if( !tab.hasOwnProperty('map_url') || !tab.map_url ) {
                        return false;
                    }
                } else {
                    if( !tab.hasOwnProperty('map_url_mobile') || !tab.map_url_mobile ) {
                        return false;
                    }
                }
    
                return true;
            }
    
            function createTabs(tabs) {
                var $tabList = jQuery('#dashboardTabs');
                var isFirst = true;
                for(var id in tabs) {
                    var tab = tabs[id];
    
                    // should the tab be added?
                    // console.log('shouldDisplayTab?', shouldDisplayTab(tab), tab);
                    if( !shouldDisplayTab(tab) ) continue;
    
                    var item = jQuery('<li>').append(jQuery('<a>').attr('href', '#'+id).text(tab.tab_title));
                    if(isFirst) {
                        item.addClass('active');
                        
                        // also set text for TabMenu button
                        $tabList.find('.dropbtn-text').text(tab.tab_title);
    
                        isFirst = false;
                    }
                    $tabList.append(item);
                }
            }
    
            function createTabMenuItems() {
                var $tabList = jQuery('#dashboardTabs');
                var $tabMenu = jQuery('#dashboardTabs .dropdown-content');
    
                $tabList.find('li > a').each(function(i, elm) {
                    $tabMenu.append(jQuery(elm).clone(false));
                })
            
                // var isFirst = true;
                // for(var id in tabs) {
                //     var tab = tabs[id];
                //     var item = jQuery('<li>').append(jQuery('<a>').attr('href', '#'+id).text(tab.tab_title));
                //     if(isFirst) {
                //         item.addClass('active');
                //         isFirst = false;
                //     }
                //     $tabList.append(item);
                // }
            }
            
            function createTabContentStub(tabs) {
                var template = jQuery('#content_template').attr('id', '');
    
                var $contentDiv = jQuery('#dashboardContent');
                var isFirst = true;
                for(var id in tabs) {
                    var tab = tabs[id];
    
                    // should the tab be added?
                    // console.log('shouldDisplayTab?', shouldDisplayTab(tab), tab);
                    if( !shouldDisplayTab(tab) ) continue;
    
                    var item = template.clone().attr('id', id);
    
                    var map_head_html = tab.map_head;
                    if(g_scnMode == 'mobile' && tab.hasOwnProperty('map_head_mobile')) {
                        map_head_html = tab.map_head_mobile;
                    }
                    // console.log(id, 'map_head', map_head_html);
                    if(map_head_html != '') {
                        item.find('.map_title').html(map_head_html);
                    }
    
    
                    // var item = jQuery('<li>').append(jQuery('<a>').attr('href', '#'+id).text(tab.tab_title));
                    if(isFirst) {
                        item.addClass('active');
                        isFirst = false;
                    }
                    $contentDiv.append(item);
                }
            }
    
            function getDeltaText(v, p) {
                var d = v - p;
                if (d < 0) return '▼ ' + (d * -1);
                if (d >= 0) return '▲ ' + (d);
            }
    
            // directly format the text using delta
            function formatDeltaText(d) {
                if (d < 0) return '▼ ' + (d * -1);
                if (d >= 0) return '▲ ' + (d);
            }
    
            function updateKeyNums() {
                $.ajax({
                    dataType: "json",
                    url: g_numDataUrl,
                    cache: false
                }).done(function( data, textStatus, jqXHR ) {
                    // console.log('num data', data);
                    $('#confirmed').text(data.Confirmed2.toLocaleString('en'));
                    //$('#confirmedD').text(getDeltaText(data.Confirmed, data.P_Confirmed));
                    $('#discharged').text(data.Discharged.toLocaleString('en'));
                    $('#dischargedD').text(getDeltaText(data.Discharged, data.P_Discharged));
                    $('#hospitalized').text(data.Hospitalised.toLocaleString('en'));
                    $('#hospitalizedD').text(getDeltaText(data.Hospitalised, data.P_Hospitalised));
                    $('#critical').text(data.Critical.toLocaleString('en'));
                    $('#criticalD').text(getDeltaText(data.Critical, data.P_Critical));
                    $('#death').text(data.Death.toLocaleString('en'));
                    $('#deathD').text(getDeltaText(data.Death, data.P_Death));
                    // $('#local').text(getDeltaText(data.LocalCasesAdded, 0));
                    // $('#imported').text(getDeltaText(data.ImportedCasedAdded, 0));
                    $('#local').text(getDeltaText(data.Local_Case2, 0));
                    $('#imported').text(getDeltaText(data.Import_Case2, 0));
                    //$('#local-rel').text(getDeltaText(data.Local_Case2_Related, 0));
                    //$('#imported-rel').text(getDeltaText(data.Import_case2_Related, 0));
                    $('#asymptomatic').text(data.Asymptomatic.toLocaleString('en'));
                    $('#repositive').text(data.RePositive.toLocaleString('en'));
                    $('#positiveCase').text(data.Confirmed.toLocaleString('en'));
                    // $('#positiveCaseD').text(getDeltaText(data.Confirmed, data.P_Confirmed));
                    $('#positiveCaseD').text(formatDeltaText(data.Confirmed_Delta));
    
                    // fitUIText();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    console.error('Error getting latest key figures.')
                });
    
                if(g_autoUpdateKeyFigures) {
                    setTimeout(function() {
                        updateKeyNums();
                    }, g_autoUpdateInterval * 1000);
                }
            }
    
            function updateVaccineFigures() {
                $.ajax({
                    dataType: "json",
                    url: g_vaccineFigureUrl,
                    cache: false
                }).done(function( data, textStatus, jqXHR ) {
                    console.log('vaccine data', data);
                    $('#vaccine').text(data.totalDosesAdministered.toLocaleString('en'));
                    $('#vaccineD').text('▲ ' + data.latestDaily.toLocaleString('en'));
                    var first_dose = data.firstDoseTotal.toLocaleString('en');
                    $('#vaccine1').text(first_dose);
                    //$('#vaccine-percent').text('('+data.firstDosePercent+')');
                    var second_dose = data.secondDoseTotal.toLocaleString('en');
                    $('#vaccine2').text(second_dose);
                    var third_dose = data.thirdDoseTotal.toLocaleString('en');
                    $('#vaccine3').text(third_dose);
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    console.error('Error getting latest vaccine figures.')
                });
    
                if(g_autoUpdateKeyFigures) {
                    setTimeout(function() {
                        updateVaccineFigures();
                    }, g_autoUpdateInterval * 1000);
                }
            }
    
            // get a newer config for replacing the original one hard-coded in this file
            function getConfig() {
                $.ajax({
                    dataType: "json",
                    url: g_configUrl,
                    cache: false,
                    async: false    // wait for the data
                }).done(function( data, textStatus, jqXHR ) {
                    // console.log('ext config data', data);
    
                    // check if data looks good
                    if(!data.hasOwnProperty(g_lang))  {
                        console.error('Key not found: ', g_lang);
                        return;
                    }
    
                    if(!data.hasOwnProperty('ver'))  {
                        console.error('Key not found: ver');
                        return;
                    }
    
                    var newConf = data[g_lang];
    
                    if(!newConf.hasOwnProperty('labels'))  {
                        console.error('Key not found: labels');
                        return;
                    }
    
                    if(!newConf.hasOwnProperty('tabs'))  {
                        console.error('Key not found: tabs');
                        return;
                    }
    
                    // console.log(newConf);
                    
                    // replace current config
                    g_currConfig = newConf;
                    g_currConfig['ver']  = data['ver'];
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    console.log(textStatus,errorThrown);
                    console.error('Error getting latest config.')
                });
            }
    
            function init() {
                // var grid = GridStack.init();
                // textFit($('.num_box > div'));
    
                updateKeyNums();
                updateVaccineFigures();
                getConfig();
    
                // populate menu item on top right corner
                if(g_lang == 'en') {
                    $('.language-html').html('<a href="' + window.location.pathname + '?lang=zh">中文</a>');
                } else {
                    $('.language-html').html('<a href="' + window.location.pathname + '?lang=en">English</a>');
                }
                
                // key numbers
                if(g_lang == 'en') jQuery('.num_col').addClass('en-lang');
                // $('.title-text').text(g_currConfig.labels.title);
                if(g_scnMode == 'desktop') $('.title-text').text(g_currConfig.labels.title);
                if(g_scnMode == 'mobile')  $('.title-text').text(g_currConfig.labels.title_mobile);
                $('head title').text(g_currConfig.labels.title);
                $('#confirmed-label').text(g_currConfig.labels.confirmed);
                $('#local-label').html(g_currConfig.labels.local);
                $('#imported-label').html(g_currConfig.labels.imported);
                //$('#local-rel-label').html(g_currConfig.labels.local_related);
                //$('#imported-rel-label').html(g_currConfig.labels.imported_related);
                // hot fix of label size
                // if(g_lang == 'en') $('#confirmed-label').addClass('en-lang');
                $('#discharged-label').text(g_currConfig.labels.discharged);
                $('#hospitalized-label').text(g_currConfig.labels.hospitalized);
                $('#critical-label').text(g_currConfig.labels.critical);
                $('#death-label').text(g_currConfig.labels.death);
                $('#vaccine-label').text(g_currConfig.labels.vaccine);
                $('#vaccine1-label').html(g_currConfig.labels.vaccine_first);
                $('#vaccine2-label').html(g_currConfig.labels.vaccine_second);
                $('#vaccine3-label').html(g_currConfig.labels.vaccine_third);
                $('#select-tab-label').text(g_currConfig.labels.selectTab);
                $('#positiveCase-label').text(g_currConfig.labels.positiveCase);
                $('#asymptomatic-label').text(g_currConfig.labels.asymptomatic);
                $('#repositive-label').text(g_currConfig.labels.repositive);
                $('#total-label').text(g_currConfig.labels.total);
    
                // fitUIText();
                // window.addEventListener('resize', fitUITextDebounce);
    
                createTabs(g_currConfig.tabs);
                createTabContentStub(g_currConfig.tabs);
                createTabMenuItems();
    
                var tabOpts = {
                    onTabClick: function(paneId, activePaneId) {
                        // console.log('(main) onTabClick', paneId, activePaneId);
    
                        // unload existing tab when new tab is selected
                        if(g_unloadInactiveTab && activePaneId != null && paneId != activePaneId) {
                            var activeiframe = jQuery('#'+activePaneId+' iframe');
                            if(activeiframe.length > 0) {
                                activeiframe[0].setAttribute('src', '');
                                // console.log(activePaneId, '==>', activeiframe[0].getAttribute('src'));
                            }
                        }
                        
                        var iframe = jQuery('#'+paneId+' iframe');
                        // console.log(iframe);
                        // console.log(paneId, '==>', iframe[0].getAttribute('src'));
                        if(iframe.length > 0 && iframe[0].getAttribute('src') == '') {
                            var content_url = g_currConfig.tabs[paneId].map_url;
                            if(g_scnMode == 'mobile') {
                                content_url = g_currConfig.tabs[paneId].map_url_mobile;
                            }
                            console.log('show map', content_url);
                            iframe[0].setAttribute('src', content_url);
                            // console.log(paneId, 'src set');
                        }
                    },
                    onTabShown: function(paneId) {
                        // console.log('onTabShown', paneId);
                        if(paneId == 'menu1') {
                            // var iframe = jQuery('#'+paneId+' iframe');
                            // iframe[0].contentWindow.map.
                            // console.log(iframe);
                            // iframe[0].contentWindow.location.reload();
                        }
                    }
                }
                // LisTab will also make links under .dropdown-content become tab buttons
                window.tabs = new LisTab(tabOpts);
    
                if(g_scnMode == 'desktop') g_viewCountUrl = g_currConfig['view_count']['url'];
                if(g_scnMode == 'mobile')  g_viewCountUrl = g_currConfig['view_count']['url_mobile'];
                jQuery('#viewcount').attr('src', g_viewCountUrl);
                // console.log('g_viewCountUrl', g_viewCountUrl);
    
                // set url of first tab
                // console.log('g_frameOnly', g_frameOnly)
                if( !g_frameOnly ) {
                    var targetTab = null;
                    var firstTabKey = targetTab = Object.keys(g_currConfig.tabs)[0];
                    // use hash link if available
                    // console.log('firstTabKey', firstTabKey);
                    if(window.location.hash != null && window.location.hash != '') {
                        var hash = window.location.hash.substr(1);
                        // console.log('hash', hash);
                        if (hash != null && hash != '') {
                            targetTab = hash;
                        }
                    }
                    var linkObj = $("a[href='#"+targetTab+"']");
                    // console.log(linkObj);
                    if(linkObj && linkObj.length>0){
                        var linkElm = linkObj[0];
                        window.tabs.triggerTab(linkElm);
                    }
                    // var content_url = g_currConfig.tabs[targetTab].map_url;
                    // if(g_scnMode == 'mobile') content_url = g_currConfig.tabs[targetTab].map_url_mobile;
                    // jQuery('#dashboardContent #'+targetTab+' iframe').attr('src', content_url);
    
                    // jQuery('#home iframe')[0].setAttribute('src', g_currConfig.tabs['home'].map_url);
                }
    
                console.log(g_currConfig['ver']);
                
                //-- bannar function 
                $(".banner-item").on("click",function(){
                    var tab_name = $(this).attr("tab-name");
                    if(tab_name != ""){
                        var linkObj = $("a[href='#"+tab_name+"']");
                        // console.log(linkObj);
                        if(linkObj && linkObj.length>0){
                            var linkElm = linkObj[0];
                            window.tabs.triggerTab(linkElm);
                        }
                    }
                });
            }
    
            function fitUIText() {
                $('.num_box > div > span').css('font-size','');
                //textFit($('.num_box > div'), {});
            }
            var fitUITextDebounce = _.debounce(fitUIText, 20);
               
    
            var g_data = null;
            $(function () {
                // mapBoundChange();
                // console.log(g_delay);
                if(g_delay > 0) {
                    setTimeout(function() {
                        init();
                        // loadData();
                    }, g_delay*1000);
                } else {
                    init();
                    // loadData();
                }
                
            })
        </script>
    
    
    
    
    </body>

</body>



</html>